<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="server.bios.asbserver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_label_settings"
            android:parentActivityName=".activity.MainActivity"/>

        <activity
            android:name=".activity.UserProfileSettings"
            android:label="@string/app_label_user_profile_name"
            android:parentActivityName=".activity.MainActivity"/>

        <service
            android:name=".service.ServerManager"
            android:label="@string/app_name" />
    </application>

</manifest>
